API_TOKEN = "ATATT3xFfGF03GtwDYrxo5ub0YXDvRO6oULnZwLnIiKEleVh4bXaUBBPXuNDd9DZl6IrkUPHlezP4zv6CfDJ1U3QTqHQjuSUPzAZpGegMTpyC2RZbgCDeMVFATT2W7Hq9XRRK_-TMzokJQwV0p_GTpHlILH-3noNROplGUrJYx0KtJBDl06h5A4=ACD19E8E"

GMAIL_ID = "rachanaa.v.01@gmail.com"